{% extends 'base-front.html.twig' %}

{% block title %}Se Connecter{% endblock %}

{% block body %}
<style>
    table {
        table-layout: fixed;
        width: 30%;
        border-collapse: collapse;
        border: 3px solid #fef5ef;
    }

    thead th:nth-child(1) {
        width: 30%;
    }

    thead th:nth-child(2) {
        width: 20%;
    }

    thead th:nth-child(3) {
        width: 15%;
    }

    thead th:nth-child(4) {
        width: 35%;
    }

    th, td {
        padding: 20px;
    }
    input[type=button], input[type=submit], input[type=reset] {
        background-color: #fef5ef;
        border: none;
        color: #131212;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
    }
</style>

    <form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

        {% for message in app.flashes ('message') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
        {% endfor %}
        {% for message in app.flashes ('danger') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
<br> <br> <br>
        <center>
            <table width="10%" height="30%">
                <tr >
                    <td width="50%" align="center">
    <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
                    </td>
                </tr>
                <tr >
                    <td width="50%">
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>

                    </td>
                </tr>
                <tr >
                    <td width="50%">
                <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                    </td>
                </tr>
                <tr >
                    <td width="50%">

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
                    </td>
                </tr>
    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
                <tr >
                    <td width="50%" align="center">
    <input type="submit" class="btn btn-primary" value="Se Connecter" >

                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <a href="{{ path('forgotten_password') }}" >Mot de passe oublié?</a>
                    </td>
                </tr>
                <tr >

                    <td width="50%" align="center">
                      <p>  Si vous n'êtes pas membre inscrivez vous </p >
         <a class="btn btn-primary" href="{{ path('qui') }}" style="color: #fef5ef"> S'inscrire </a>

                    </td>
                </tr>

            </table>
            <br> <br> <br>
        </center>
</form>
{% endblock %}
