{% extends 'base-front.html.twig' %}

{% block body %}

        </script>
        <link href="{{asset('acc/css/bootstrap.css')}}" rel='stylesheet' type='text/css' />
        <link href="{{asset('acc/css/login_overlay.css')}}"  rel='stylesheet' type='text/css' />
        <link href="{{asset('acc/acc/css/style6.css')}}" rel='stylesheet' type='text/css' />
        <link rel="stylesheet" href="{{asset('acc/css/shop.css')}}" type="text/css" />
        <link rel="stylesheet" href="{{asset('acc/css/owl.carousel.css')}}" type="text/css" media="all">
        <link rel="stylesheet" href="{{asset('acc/css/owl.theme.css')}}" type="text/css" media="all">
        <link href="{{asset('acc/css/style.css')}}" rel='stylesheet' type='text/css' />
        <link href="{{asset('acc/css/fontawesome-all.css')}}" rel="stylesheet">
        <link href="//fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">
        <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
              rel="stylesheet">
    </head>

        <!-- //header -->
        <!-- banner -->
<div class="banner" >
    <center>
    <video id="background-video" autoplay loop muted width="100%" height="30%">

        <source src="Brown Neutral Modern Thanks For Watching YouTube Outro.mp4" type="video/mp4" >

    </video>
    </center>
</div>

    <!--//banner -->

    <!--//banner-sec-->

                <!-- /grids -->
                <div class="bottom-sub-grid-content py-lg-5 py-3">
                    <div class="row">
                        <div class="col-lg-4 bottom-sub-grid text-center">
                            <div class="bt-icon">

                                <span class="far fa-hand-paper"></span>
                            </div>

                            <h4 class="sub-tittle-w3layouts my-lg-4 my-3">Satisfaction garantie</h4>

                        </div>
                        <!-- /.col-lg-4 -->
                        <div class="col-lg-4 bottom-sub-grid text-center">
                            <div class="bt-icon">
                                <span class="fas fa-rocket"></span>
                            </div>

                            <h4 class="sub-tittle-w3layouts my-lg-4 my-3">livraison rapide</h4>

                        </div>
                        <!-- /.col-lg-4 -->
                        <div class="col-lg-4 bottom-sub-grid text-center">
                            <div class="bt-icon">
                                <span class="far fa-sun"></span>
                            </div>

                            <h4 class="sub-tittle-w3layouts my-lg-4 my-3">Confidentialité et Respect des Données Personnelles</h4>


                        </div>
                        <!-- /.col-lg-4 -->
                    </div>
                </div>
                <!-- //grids -->

                <!-- /clients-sec -->
                <div class="testimonials p-lg-5 p-3 mt-4">
                    <div class="row last-section">
                        <div class="col-lg-3 footer-top-w3layouts-grid-sec">
                            <div class="mail-grid-icon text-center">
                                <i class="fas fa-gift"></i>
                            </div>
                            <div class="mail-grid-text-info">
                                <h3>PRODUIT AUTHENTIQUE</h3>

                            </div>
                        </div>
                        <div class="col-lg-3 footer-top-w3layouts-grid-sec">
                            <div class="mail-grid-icon text-center">
                                <i class="fas fa-shield-alt"></i>
                            </div>
                            <div class="mail-grid-text-info">
                                <h3>PRODUITS SÉCURISÉS</h3>

                            </div>
                        </div>
                        <div class="col-lg-3 footer-top-w3layouts-grid-sec">
                            <div class="mail-grid-icon text-center">
                                <i class="fas fa-dollar-sign"></i>
                            </div>
                            <div class="mail-grid-text-info">
                                <h3>PAIEMENT À LA LIVRAISON</h3>

                            </div>
                        </div>
                        <div class="col-lg-3 footer-top-w3layouts-grid-sec">
                            <div class="mail-grid-icon text-center">
                                <i class="fas fa-truck"></i>
                            </div>
                            <div class="mail-grid-text-info">
                                <h3>LIVRAISON FACILE</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //clients-sec -->


    <script>
        $(document).ready(function () {
            $("#myModal").modal();
        });
    </script>
    <!-- // modal -->

    <!--search jQuery-->
    <script src="{{asset('acc/js/modernizr-2.6.2.min.js')}}"></script>
    <script src="{{asset('acc/js/classie-search.js')}}"></script>
    <script src="{{asset('acc/js/demo1-search.js')}}"></script>
    <!--//search jQuery-->
    <!-- cart-js -->
    <script src="{{asset('/acc/js/minicart.js')}}"></script>
    <script>
        googles.render();

        googles.cart.on('googles_checkout', function (evt) {
            var items, len, i;

            if (this.subtotal() > 0) {
                items = this.items();

                for (i = 0, len = items.length; i < len; i++) {}
            }
        });
    </script>
    <!-- //cart-js -->
    <script>
        $(document).ready(function () {
            $(".button-log a").click(function () {
                $(".overlay-login").fadeToggle(200);
                $(this).toggleClass('btn-open').toggleClass('btn-close');
            });
        });
        $('.overlay-close1').on('click', function () {
            $(".overlay-login").fadeToggle(200);
            $(".button-log a").toggleClass('btn-open').toggleClass('btn-close');
            open = false;
        });
    </script>
    <!-- carousel -->
    <!-- Count-down -->
    <script src="{{asset('acc/js/simplyCountdown.js')}}"></script>
    <link href="{{asset('acc/css/simplyCountdown.css')}}" rel='stylesheet' type='text/css' />
    <script>
        var d = new Date();
        simplyCountdown('simply-countdown-custom', {
            year: d.getFullYear(),
            month: d.getMonth() + 2,
            day: 25
        });
    </script>
    <!--// Count-down -->
    <script src="{{asset('/js/owl.carousel.js')}}')}}"></script>
    <script>
        $(document).ready(function () {
            $('.owl-carousel').owlCarousel({
                loop: true,
                margin: 10,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: true
                    },
                    600: {
                        items: 2,
                        nav: false
                    },
                    900: {
                        items: 3,
                        nav: false
                    },
                    1000: {
                        items: 4,
                        nav: true,
                        loop: false,
                        margin: 20
                    }
                }
            })
        })
    </script>

    <!-- //end-smooth-scrolling -->


    <!-- dropdown nav -->
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    <!-- //dropdown nav -->
    <script src="{{asset('acc/js/move-top.js')}}"></script>
    <script src="{{asset('acc/js/easing.js')}}"></script>
    <script>
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });
    </script>
    <script>
        $(document).ready(function() {
            /*
            						var defaults = {
            							  containerID: 'toTop', // fading element id
            							containerHoverID: 'toTopHover', // fading element hover id
            							scrollSpeed: 1200,
            							easingType: 'linear'
            						 };
            						*/

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <!--// end-smoth-scrolling -->

    <script src="{{asset('acc/js/bootstrap.js')}}">

    </script>


            {% endblock %}
